.row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 45%;
    gap: 5px;
    margin: auto;
}

.card.memocard {
    text-align: center;
    height: 150px;
    width: 150px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    cursor: pointer;
    border-radius: 7px;
    background: url(img/logo_pokebola.png);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.card.memocard img {
    visibility: hidden;
    width: 100%;
}

.card-uno, .card-dos {
    background: #f2f2f2 !important;
    pointer-events: none;
}

.card-uno img, .card-dos img {
    visibility: visible !important;
    display: block;
}

.match {
    background: #f7f3f1 !important;
    pointer-events: none;
    cursor: none;
}

.match img {
    visibility: visible !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000062;
    display: flex;
}

.mensajeDiv {
    margin: auto;
    flex: 0 0 30%;
    text-align: center;
    padding: 12px;
    background: #069106;
    height: 130px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #025e02;
}

p.mensaje.win {
    font-family: sans-serif;
    color: #ccc;
    font-size: 25px;
}

button.btn-close {
    padding: 12px 18px;
}

@media (max-width: 850px) {
    
    .row {
        width: 95%;
    }

    .card.memocard {
        width: 30%;
        height: auto;
    }
}